# Byte-compiled / optimized / DLL files
__pycache__/*
.vscode/*
*.pyc
*.pyo
*.egg-info
*.txt
*.csv
*.ipynb
*.png
*.log
*.nsys-rep

build/*
*.so
**/debug/*.pkl
benchmark/**/*.pkl
benchmark/**/*.ipynb
benchmark/**/*.pdf
analysis/**/*.pdf
benchmark/*.json
benchmark/**/*.json
benchmark/**/*.npy
benchmark/script_*.py
benchmark/mlm/generated_*.sh
vocabs/*
debug/*
experiments/*
experiments*.tar.gz
experiments*/*
*.pdf
hostfile*